* {
  font-family: 'Open Sans', sans-serif;
}
   
body {
  padding: 20px 0px 10px 0px;
  font-size: 20px;
}

main {
  width: 100%;
}

.main-for-read-act {
  background-color: #eddbcd;
  border-radius: 20px;
  color: black;
  width: 95%;
  text-align: left;
  padding: 0px 20px 30px 20px;
}

nav {
  font-size: 26px;
}

body, nav, header, .blurb, h3, p.kindness-rating {
  text-align: center;
  margin: 0 auto;
}

.blurb {
  max-width: 600px;
  font-size: 16px;
}

.blurb, p.kindness-rating {
  font-style: oblique;
}

.logout {
  float: right;
  padding-right: 20px;
}

.create {
  padding-bottom: 20px;
  text-align: center;
}

a.nav, h1, h4 {
  font-family: 'Kalam', cursive;
}

a.nav {
  padding-left: 60px;  
}

h1 {
  font-size: 42px;
  padding-top: 10px;
  color: #874c62;
}

h1, h4 {
  -webkit-margin-after: 0em;
}

h2 {
  font-weight: normal;
  color: #874c62;
}

h2, .logout, .drop-down, .expand, .examples {
  font-size: 16px;
}

h4 {
  line-height: 120%;
  font-size: 30px;
  color: #874c62;
  margin-block-start: 25px;
}

.info-headers, .examples, .subtitle {
  font-weight: bold;
}

.expand {
  text-decoration: underline;
}

.hide {
  display: none;
}

form {
  padding-top: 15px;
}

input[name=Name] {
  width: 75%;
}

input[name=Location] {
  width: 72.3%;
}

input[name=Date] {
  width: 30%;
}

textarea {
  width: 100%;
  min-height: 103px;
}

.edit-buttons {
  text-align: right;
  float: right;
  width: 100%;
}

button {
  font-size: 16px;
  color: white;
}

.button {
  background-color: #c98474;
  border: 0;
  padding: 10px 15px 12px 15px;
  margin: 4px 0px;
  cursor: pointer;
}

.buttonCancelUpdateSave {
  background-color: #874c62;
}

.button:hover, .card-button:hover {
  background-color: #ac778a;
}

.red-button {
  background-color: #ff1d25;
}

.red-button:hover {
  background-color: #fc464d;   
}

h3 {
  font-size: 22px;
  font-weight: normal;
  color: white;
  width: 100%; 
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0px 10px 0px 10px; 
}

p.kindness-rating {
  font-size: 16px;
  color: white;
  padding: 0px 10px 0px 10px; 
}

a {
  text-decoration: none;
}

a.nav, .info-headers, .examples {
  color: #874c62;
}

a.kindness-rating {
  color: black;
}

a.dark:link, a.dark:visited, .expand {
  color: #874c62;
  cursor: pointer;
}

a.dark:hover {
  color: #c98474;
}


/* Responsive-related*/

@media only screen and (min-width: 700px) {
  
  body {
    padding: 20px 0px 50px 0px;
  }
  
  .main-for-read-act {
    width: 84%;
    padding: 0px 30px 30px 30px;
  }

  h4 {
    line-height: 120%;
    margin-block-start: 33px;
  }

  .button {
    margin: 4px 2px;
  }
  
}

.card-image {
  width: 100%;
}

.card-content {
  padding: 15px 0px 20px 0px;
}
.card-button {
  background-color: #874c62;
  cursor: pointer;
  border: 5px solid white;
  border-radius: 20px;
}

.card-content h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.card-content p {
  margin: 0.5em 0;
}